.screen-header {
  display: flex;
  justify-content: space-between;
  padding: var(--horizontal-space);
  align-items: center;
  width: 100%;
  /* position: fixed; */
  box-sizing: border-box;
  margin-bottom: 15px;
}
.screen-heaer__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 25px;
}
